.code-wrapper {
  background: var(--markdown-pre-bg-color) !important;
  position: relative;
  margin: 0.5em 0;
}

.code-wrapper.has-language {
  padding-top: 8px;
  padding-bottom: 2px;
}

pre {
  background-color: transparent !important;
  position: relative;
  font-size: 13px;

  code {
    background-color: transparent !important;
    border: none;
  }
}

.code-wrapper.has-language:before {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  color: var(--markdown-pre-lang-color) !important;
  text-align: right !important;
  font-size: 12px !important;
  padding: 10px 10px 0 !important;
  line-height: 15px !important;
  height: 15px !important;
}

.code-wrapper.language-html:before {
  content: "HTML"
}

.code-wrapper.language-javascript:before {
  content: "JS"
}

.code-wrapper.language-bash:before {
  content: "BASH"
}

.code-wrapper.language-css:before {
  content: "CSS"
}

.code-wrapper.language-scss:before {
  content: "SCSS"
}

.code-wrapper.language-diff:before {
  content: "DIFF"
}

.code-wrapper.language-java:before {
  content: "JAVA"
}

.code-wrapper.language-xml:before {
  content: "XML"
}

.code-wrapper.language-python:before {
  content: "PYTHON"
}

.code-wrapper.language-json:before {
  content: "JSON"
}

.code-wrapper.language-swift:before {
  content: "SWIFT"
}

.code-wrapper.language-ruby:before {
  content: "RUBY"
}

.code-wrapper.language-perl:before {
  content: "PERL"
}

.code-wrapper.language-php:before {
  content: "PHP"
}

.code-wrapper.language-c:before {
  content: "C"
}

.code-wrapper.language-cpp:before {
  content: "C++"
}

.code-wrapper.language-java:before {
  content: "JAVA"
}

.code-wrapper.language-rust:before {
  content: 'RUST'
}

.code-wrapper.language-markup:before {
  content: 'MARKUP'
}

.code-wrapper.language-sql:before {
  content: 'SQL'
}

.code-wrapper.language-objectivec:before {
  content: 'OBJECTIVE-C'
}

.code-wrapper.language-makefile:before {
  content: 'MAKEFILE'
}

.code-wrapper.language-go:before {
  content: 'GO'
}

.code-wrapper.language-ini:before {
  content: 'INI'
}

.code-wrapper.language-groovy:before {
  content: 'GROOVY'
}

.code-wrapper.language-yaml:before {
  content: 'YAML'
}

.code-wrapper.language-toml:before {
  content: 'TOML'
}

.code-wrapper.language-markdown:before {
  content: 'MARKDOWN'
}
