.footer {
  clear: both;
  text-align: center;
  font-size: 12.5px;
  margin: 0 auto;
  bottom: 0;
  position: fixed;
  width: 30%;
  padding-bottom: 20px;
  z-index: 5;

  a:hover {
    color: var(--sidebar-hover-color) !important;
  }

  .moe-icp img {
    height: 17px;
    position: relative;
    top: 4px;
  }
}
