<div class="post">
    <div class="post-info">
        <div class="post-title"><h3><a>友情链接</a></h3></div>
    </div>

    <div class="post-content">
        <%- page.content %>
    </div>

    <div class="post-info">
        <div class="post-meta">
            <!-- TODO: visit counter -->
        </div>
    </div>
    <%- partial('_partial/comment') %>
</div>