body {
    font-family: "LXGW WenKai Screen", "PingHei", "PingFang SC", Helvetica Neue, "Work Sans", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.6em;
    color: var(--page-fg-color);
    background-color: var(--page-bg-color);
}

body.loaded {
    transition: color 0.5s, background-color 0.5s;
}

a {
    text-decoration: none;
}

a:link, a:visited, .clickable {
    opacity: 1;
    transition: all 0.15s linear;
}

.clickable, a {
    color: var(--link-color);
}

.clickable:hover, a:hover {
    color: var(--link-hover-color) !important;
}
