<div class="navigation">
    <div class="navigation-menu">
        <% for (name in theme.menu) { %>
            <li>
                <% if (is_current(theme.menu[name].link)) { %>
                    <a class="current" href="<%- url_for(theme.menu[name].link) %>"><%= theme.menu[name].title %></a>
                <% } else { %>
                    <a href="<%- url_for(theme.menu[name].link) %>"><%= theme.menu[name].title %></a>
                <% } %>
            </li>
        <% } %>
    </div>
    <div class="navigation-utility">
        <% if(is_post()) { %>
            <div class="clickable nav-button" id="nav-back" title="返回">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
        <% } %>
    </div>
</div>